/* stili */
/* navbar */

/*#nav-drop-pass{
                   min-width: 475px;
                   padding-left: 5px;
                   right: -320px;
              }*/
 .navbar-form .form-control{width: 140px;}
#navxs{
            min-width: 350px;
            max-width: 400px;
      }
.navbar{
        min-width: 380px;
    }
/*settings */

#dropdownbtn{ max-width: 140px;}

#panelsetting{min-width: 360px;}

#settings-drop-pass{width: 380px;
                     padding-left: 5px;}

#toprow{margin-bottom: 50px;}

.media  p{font-size: 14px;
           margin-bottom: 2px;